header {
    height: 70px;
    background-color: var(--color-bg-secondary);
    color: var(--color-font-secondary);
    display: flex;
    align-items: center;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

  



